body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(rgb(233, 162, 61),rgb(113, 251, 230));
    background-repeat: no-repeat;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}